@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.slider
{
  display: grid;
  grid-column: 1 / 13;
  height: 250px;
  margin: auto;
  top: -70%;
  position: relative;
  width: 100%;
  place-items: center;
  overflow: hidden;
}

.sliderTrack
{
  display: flex;
  width: calc(250px * 20);
  animation: scroll 80s linear infinite;
}

@keyframes scroll{
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 20));
  }
}

.sliderTrack:hover{
  animation-play-state: paused;
}

.slide
{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

img
{
  width: 100%;
  transition: all 1s ease-out;
  transition-property: all;
}

img:hover{
  width: 140%;
  height: 140%;
  z-index: 999;
  position: relative;
}

.slider::before,
.slider::after
{
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before
{
  left: 0;
  top: 0;
}

.slider::after
{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / 8;
    font-size: 0.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    margin-left: 2%;
    margin-top: -7%;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 6;
    margin-bottom: var(--spacing);
    font-size: 0.5rem;
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  @media only screen and (max-width: 600px){
    canvas {
      position:fixed;
      top: 0;
      left: 0;
    }
    
    :root {
      --dark-bg: rgba(15, 15, 15, 0.95);
      --spacing: 350px;
    
      font-family: brandon-grotesque, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    
    main {
      width: 100vw;
      color: white;
      z-index: 99;
      position: absolute;
      width: 100%;
      margin: 0px auto;
      padding: 120px 0px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
    
    h1, h2, h3, blockquote {
      font-family: elevon, sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
       header {
        background: var(--dark-bg);
        grid-column: 2 / 6;
        font-size: 0.5rem;
        padding: 2rem;
        margin-bottom: var(--spacing);
      }
    
      section {
        grid-column: 2 / 6;
        background: var(--dark-bg);
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: var(--spacing);
      }
    
      blockquote {
        margin: 0;
        padding: 0;
        grid-column: 2 / 6;
        margin-bottom: var(--spacing);
        font-size: 0.5rem;
      }
    
      blockquote p {
        color: black;
        background-color: white;
        font-size: 2rem;
        display: inline;
        line-height: 1;
      }

      .light{
        grid-column: 2 / 6;
        display: grid;
        margin-left: -18%;
      }
    
      .left {
        grid-column: 2 / 6;
      }
  }